<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - Sustainable Seas Trust</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>
<body>
    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
        <div class="container">
            <img src="../../Content/img/logo.png" class="img-fluid col-md-1" alt="SST logo" />
            <a class="navbar-brand" href="#!">Sustainable Seas Trust</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav">
                    <li class="navitem">@Html.ActionLink("Home", "Index", "Home", new { @class = "myactionlink" })</li>
                    <li class="navitem">@Html.ActionLink("Hope Spots", "HopeSpots", "Home", new { @class = "myactionlink" })</li>
                    <li class="navitem">@Html.ActionLink("Take Action", "TakeAction", "Home", new { @class = "myactionlink" })</li>
                </ul>
            </div>
        </div>
    </nav>

    @RenderBody()



    <footer class="border-top footer text-muted position-relative">

            222 Main Rd, Walmer, Gqeberha, 6065 | +27 76 608 3587 info@sst.org.za
            NPO Number: 078-120-NPO | PBO Number: PBO 930022444© Sustainable Seas Trust

    </footer>


    @Scripts.Render("~/bundles/jquery")

    @RenderSection("scripts", required: false)
</body>
</html>