@model List<SustainableSeasTrust.Models.HopeSpot>

@{
    ViewBag.Title = "HopeSpots";
}
<div class="py-5 bg-image-full" id="bgimg">
    <div class="text-center my-5">
        <h1 class="text-white">HopeSpots</h1>
        <br />
        <p class="text-center text-white col-md-8 mx-auto">
            <i>‘Hope Spots are special places that are critical to the health of the ocean.’ ~ Dr Sylvia Earle </i>
            <br />
            They are marine areas of ecological and biodiversity significance around the world. The Hope Spot movement was started by world-renowned oceanographer Dr Sylvia Earle to unite global efforts to protect the sea by raising public awareness, access and support for a worldwide network of marine protected areas.
        </p>
    </div>
</div>

<div class="container-md justify-content-center">
    <div class="row">

        @foreach (var hopespot in Model)
        {

            <div class="card col-md-4">
                <a href="#@hopespot.name">
                    <div class="card-title">
                        <h3>@hopespot.name</h3>
                    </div>
                    <img class="card-img-top" src="~/Content/img/@hopespot.iconurl" />
                    <div class="card-body">
                        Read More
                    </div>
                </a>
            </div>


        }
    </div>
</div>

<div class="mycontainer">
    @foreach (var hopespot in Model)
    {
        <div class="row align-items-center" style="background-image: linear-gradient(to bottom, rgba(13, 21, 34, 0.35), rgba(2, 49, 75,1 )), url('../../Content/img/@hopespot.imgurl');
         height: 100vh;
         background-size: cover;" id="@hopespot.name">
            <div>
                <h1 class="text-center text-white">@hopespot.name</h1>
                <br />
                <p class="text-center text-white col-md-8 mx-auto">
                    @hopespot.description
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mx-auto text-white">
                <h3>Diversity</h3>
                <br />
                <p>@hopespot.diversity</p>
                <br />

                <h3>Iconic Species</h3>
                <br />
                @for (var i = 0; i < hopespot.Animals.Count(); i++)
                {
                    <p>
                        @hopespot.Animals[i].getName() <i>( @hopespot.Animals[i].getDetails())</i> @hopespot.Animals[i].getDescr()
                    </p>
                    <br />
                }
                <h3>How to engage with @hopespot.name Hope Spot </h3>
                <br />
                @if (hopespot.Activities.Count() ==0)
                {
                   <p> The Hope Spots is a citizen - driven project, and we’re still gathering our list of things to do in the 
                      @hopespot.name Hope Spot.If you have some suggestions, please mail these to info@sst.org.za with the words 
                      ‘Hope Spot things to do’ in the subject line. Also, if you are interested in driving the @hopespot.name Hope Spot 
                      as a project, we would welcome a discussion about what it would involve. Mail us on info@sst.org.za, with the words: 
                      @hopespot.name Hope Spot project in the subject line.</p>
                }
                else {
                    for (var i = 0; i < hopespot.Activities.Count(); i++)
                    {
                        <h5>@hopespot.Activities[i].getName()</h5>
                        <p>@hopespot.Activities[i].getDescr()</p>
                        <a href="@hopespot.Activities[i].getDetails()"><p>@hopespot.Activities[i].getDetails()</p></a>
                        <br />
                    }
                }
                @if (hopespot.Beaches.Count() ==0)
                {

                }
                else
                {<h3>Beaches to Explore</h3>
                    <br />
                    for (var i = 0; i < hopespot.Beaches.Count(); i++)
                    {
                        <h5>@hopespot.Beaches[i].getName()</h5>
                        <p>@hopespot.Beaches[i].getDescr()</p>
                        <a href="@hopespot.Beaches[i].getDetails()"><p>@hopespot.Beaches[i].getDetails()</p></a>
                        <br />
                    }
                }

                <br/>
                <br/>
                <br/>
            </div>
        </div>



    }
</div>




@section scripts {

    <script type="text/javascript">

        window.onload = function () {

            var buttons = document.getElementsByClassName("card col-md-4");

            for (var i = 0; i < buttons.length; i++) {
                buttons[i].addEventListener("mouseover", function () {

                    $(this).find(".card-body").css({
                        "visibility": "visible"
                    });
                });

                buttons[i].addEventListener("mouseout", function () {

                    $(this).find(".card-body").css({
                        "visibility": "hidden"
                    });
                });



            }



        };







    </script>

}

